<th:block th:replace="../fragments/head-fragment :: head"></th:block>
<body>

	<h1>Best <span>Movie</span> of the year: </h1>
	
	<ul>
	
<!-- 		non capisco perché se cambio il nome dell'elemento da "obj" a "movie" mi da errore -->
		<li
			th:each="obj : ${moviesList}"
			th:object="${obj}"
			>
			<a th:href="@{/movies/{id}(id=${obj.id})}">
			
			[[${obj.titolo}]]  
<!-- 		ALTRI METODI PER SCRIVERE IL TITOLO DEL FILM -->
<!-- 		- [[*{titolo}]]  -->
<!-- 		- [[${obj.getTitolo()}]] -->
<!-- 		<span th:text="${obj.titolo}"></span> -->
			
			</a>
		
		</li>
	
	</ul>
	
	<a href="/">Home</a>

</body>
</html>