<th:block th:replace="../fragments/head-fragment :: head"></th:block>
<body class="bg-dark text-white">

	<th:block th:replace="../fragments/header :: header"></th:block>

	<div class="container text-center my-3">
		<h1><span>Songs</span> of the year: </h1>
		
		<ul>
		
			<li
				th:each="obj : ${songsList}"
				th:object="${obj}"
				>
				<a class="btn btn-warning my-2" th:href="@{/songs/{id}(id=${obj.id})}">
				
				[[${obj.titolo}]]  
				
				</a>
			
			</li>
		
		</ul>
	</div>

</body>
</html>